.customer {
    background: #EDEDED;
    height: 821px;
    position: relative;
}

.customer-head {
    /* width: 517px;
    height: 50px; */
    font-family: 'Manrope' serif;
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    /* line-height: 100%; */
    text-align: center;
    letter-spacing: -0.06em;
    color: #0B1024;
    position: absolute;
    top: 81px;
    left: 463px;
}
.customer-head span {
    color: rgba(116, 116, 116, 1);
    text-decoration: underline 2px;
}

.customer-img{
    width:106px;
    height:106px;
    border-radius: 50%;
}
.top {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
}
.top div:last-child {
    text-align: center;
    margin-left: 50px;
}
.top h3 {
    font-family: 'Manrope' serif;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 44px;
    /* width: 178px; */
    height: 44px;
    text-align: center;
}
.top h4{
    font-family: 'Manrope' serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    width: 319px;
    height: 27px;
    color: #9598A0;
}
.base {
    margin-top: 10px;
    text-align: center;
    font-family: 'Manrope' serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    /* line-height: 170%; */
    /* width: 670px; */
    /* height: 54px; */
}

.arrow {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items:center;
    top: 730px;
    margin-left: 500px;
}

.arrow div:first-child {
    margin-right: 14px;
}

.arrow div {
    cursor: pointer;
}

.customer-profile {
    position: absolute;
    width: 864px;
    height: 460px;
    left: 250px;
    top: 191px;
    background: #FFFFFF;
    box-shadow: 0px 20px 60px rgba(46, 33, 61, 0.08);
    border-radius: 10px;
    padding: 4rem;
    display: none;
}

@media screen and (max-width: 700px) {
    .customer {
        height: 490px;
    }
    
    .customer-head {
        font-weight: 400;
        font-size: 25px;
        text-align: center;
        letter-spacing: -0.06em;
        color: #0B1024;
        position: absolute;
        /* margin-top: 10px; */
        top: 30px;
        left: 80px;
    }
    .customer-head span {
        color: rgba(116, 116, 116, 1);
        text-decoration: underline 2px;
    }

    .customer-profile {
        position: absolute;
        width: 330px;
        height: 260px;
        left: 20px;
        top: 90px;
        background: #FFFFFF;
        box-shadow: 0px 20px 60px rgba(46, 33, 61, 0.08);
        border-radius: 10px;
        padding: 2rem;
        display: none;
    }
    .top{
        align-items: center;
        justify-content: center;
    }
    .customer-img{
        width:50px;
        height:50px;
        border-radius: 50%;
    }

    .top div:last-child {
        text-align: center;
        margin-left: 3px;
        padding-left: 5px;
    }
    .top h3 {
        font-weight: 500;
        font-size: 15px;
        line-height: 20px;
        width: 120px;
        height: 20px;
        text-align: center;
    }
    .top h4{
        font-weight: 500;
        font-size: 10px;
        line-height: 15px;
        width: 100px;
        height: 15px;
    }
    .one {
        display: none;
    }
    .base {
        margin-top: 5px;
        text-align: center;
        font-family: 'Manrope' serif;
        font-style: normal;
        font-weight: 200;
        font-size: 10px;
        /* line-height: 170%; */
        /* width: 670px; */
        /* height: 54px; */
    }
    
    .arrow {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items:center;
        top: 380px;
        margin-left: 100px;
    }
    
    .arrow div:first-child {
        margin-right: 14px;
    }
    
    .arrow div {
        cursor: pointer;
    }
    
}