footer {
    height: 110px;
    background: #222938;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    padding-left: 6rem;
    padding-right: 3rem;
    font-family: 'Manrope' serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 130%;
}

footer div:nth-child(2) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10rem;
}

footer a {
    margin: 2rem;
}

footer img {
    height: 3rem;
    width: 3rem;
}

@media screen and (max-width: 700px) {
    footer {
        height: 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #fff;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        font-weight: 400;
        font-size: 10px;
        line-height: 90%;
    }
    
    footer div:nth-child(2) {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: 3.5rem;
    }
    
    footer a {
        margin: 1rem;
    } 
    footer img {
        height: 2rem;
        width: 2rem;
    }
}
