.body-intro {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-top: 5rem;
    padding-bottom: 5rem;
    /* flex-wrap: wrap; */
}
.intro-header {
    width: 555px;
    /* height: 270px; */
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    /* line-height: 90px; */
}
.intro-underline {
    margin-top: 30px;
    margin-bottom: 50px;
}
.body-intro p {
    width: 461px;
    /* height: 90px; */
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
}
.intro-btn{
    margin-top: 50px;
}
button {
    border-radius: 40px;
    /* display: flex; */
    /* flex-direction: row; */
    justify-content: center;
    align-items: center;
    padding: 20px 30px;
    gap: 10px;
    width: 158px;
    height: 62px;
}
.btn-1 {
    background: #54BD95;
    border: #54BD95;
    color: #fff;
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    margin-right: 42px;
}
.btn-2 {
    background: #D7D7D7;
    border: #D7D7D7;
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
}
.intro-mark {
    position: relative;
    background: #4535AF;
    border-radius: 10px;
    transform: rotate(-15deg);
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    margin-top: 15rem;
    margin-right: -3rem;
}

.intro-mark img {
    /* border: 2px solid #FFFFFF; */
    position: absolute;
    width: 12px;
    height: 8px;
    align-self: center;
    left: 35%;
    top: 40%;
}

.himani img {
    width: 410px;
    height: 526px;
    border-radius: 10px;
}

.himani-mobile img {
    display: none;
}

@media screen and (max-width: 700px) {
    .body-intro {
        padding-top: 1rem;
        padding-bottom: 1rem;
        display: block;
    }

    .mobile{
        display: flex;
        justify-content: space-between;
    }
    .intro-header {
        width: 10rem;
        font-weight: 200;
        font-size: 20px;
        margin-bottom: 2rem;
        text-align: center;
    }
    .intro-mark {
        display: none;
    }
    .himani img {
        display: none;
    }
    .himani-mobile img {
        display: flex;
        width: 6rem;
        height: 8rem;
        border-radius: 10px;
    }
    .intro-underline {
        display: none;
    }
    .body-intro p {
        width: 20rem;
        /* height: 90px; */
        font-family: 'Inter', serif;
        font-style: normal;
        font-weight: 300;
        font-size: 0.9rem;
        line-height: 30px;
    }
    .intro-btn{
        margin-top: 20px;
    }
    button {
        border-radius: 30px;
        /* display: flex; */
        /* flex-direction: row; */
        justify-content: center;
        align-items: center;
        padding: 8px 15px;
        gap: 10px;
        width: 100px;
        height: 50px;
    }
    .btn-1 {
        font-weight: 500;
        font-size: 12px;
        margin-right: 42px;
    }
}