*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(226, 231, 230);
    /* filter: blur(500px); */
    background-image: linear-gradient(to bottom right, rgb(196, 230, 223), rgb(226, 231, 230), rgb(226, 231, 230), rgb(226, 231, 230), rgb(196, 230, 223));
}
nav, .body-intro, .client, .about, .customer {
    padding-left: 9rem;
    padding-right: 12rem;
}
