*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* max-width: fit-content; */
}

body {
    background: rgb(226, 231, 230);
    /* filter: blur(500px); */
    background-image: linear-gradient(to bottom right, rgb(196, 230, 223), rgb(226, 231, 230), rgb(226, 231, 230), rgb(226, 231, 230), rgb(196, 230, 223));
}
.navbar, .body-intro, .client, .about, .customer, .get-started {
    padding-left: 9rem;
    padding-right: 12rem;
    /* width: 100%; */
}

@media screen and (max-width: 700px) {
    .navbar, .body-intro, .client, .about, .customer, .get-started, footer {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}


